{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<h2>Welcome to Himanshu's Review Scrapper</h2>
<h2>This page shows you reviews of all the products available in Flipkart</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Search</h1>

    <div class="form">
        <form action="/scrap" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}